.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  width: 300px;
  cursor: pointer;
  background: #eee;
  margin: 2rem auto 5rem;
}

.tic-tac-toe-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-size: 4rem;
  font-weight: bold;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.header-container p {
  text-align: center;
  width: 100%;
}
.header-container .reset-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
